@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@600&family=Mukta:wght@300;500&family=PT+Serif&display=swap');

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}


.navbar {
    position: fixed;
    top: 0;
    background-color: #57bae3;
}
.navbar ul {
    display: flex;
    list-style: none;
    width: 100vw;
}
.navbar ul li {
    margin: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
}
.navbar ul li a {
    text-decoration: none;
    cursor: pointer;
    color: rgb(8, 7, 7);
    font-size: 1.3em;
    font-weight: 550;
    font-family: 'Mukta' !important;
}

.navbar ul li a:hover {
    background-color: #060606;
    color: white;
    transition: 0.3s ease-in;
}
.dlogo {
    width: 7%;
    margin: 5px;
    padding: 2px;
    border-radius: 15px;
    border: 2px solid #57bae3;
}

.background {
    background: #fff;
}

.backimg {
    display: flex;
    justify-content: center;
}
.backimg img {
    width: 956px;
    margin-top: 84px;
}

.firstsec {
    border-top: 2px solid black;
}

.paraimg {
    display: flex;
    justify-content: center;
}
.paraimg img {
    width: 50%;
}
.para1 {
    margin: 26px;
    padding: 7px;
    font-size: 1.4em;
    color: #151616;
    font-family: 'PT Serif' !important;
    box-sizing: border-box;
}
span.paras{
    padding: 14px;
}
.secpara {
    padding: 6px;
    margin-top: 16px;
    border: 1px solid#381933;
    text-align: justify;
    display: flex;
    align-items: center;
    font-size: 21px;
    color: #151616;
    font-family: 'PT Serif' !important;
    box-sizing: border-box;
}
.secimg {
    background-color: blueviolet;
    width: 23%;
}
.secimg2 {
    width: 23%;
}
h2 {
    text-align: center;
    text-decoration: underline;
    font-size: 3.6em;
    margin-top: 12px;
    font-family: 'Crimson Text' !important;
    color: #fd6c04;
    background-color: rgb(26 1 19 / 96%);
}
.continfo {
    border-right: 3px solid purple;
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center
}
.addre {
    width: 62px;
    margin: auto;
}
.secpara3 {
    margin: 22px;
    display: flex;
    flex-direction: column;
    font-size: 21px;
    color: #151616;
    font-family: 'PT Serif' !important;
}

.container {
    display: flex;
    margin-bottom: 12px;
}

form {
    font-size: 23px;
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: 22px;
}

form input,
select,
option {
    margin-top: 13px;
    width: 85%;
    height: 40px;
    font-size: 23px;
    text-align: center;
    border-radius: 16px;
    border: 2px solid gray;
}
textarea {
    margin-top: 13px;
    width: 85%;
    font-size: 23px;
    text-align: center;
    border-radius: 6px;
    border: 2px solid gray;
}
.text {
    margin-top: 10px;
    font-size: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 95px;
    color: black;
}
.socialicon {
    width: 46px;
    margin: 11px;
    cursor: pointer;
}
input.btn {
    width: 85%;
    height: 52px;
    margin-top: 12px;
    margin-bottom: 23px;
    padding: 2px;
    text-align: center;
    font-size: 26px;
    font-family: 'Crimson Text';
    border-radius: 23px;
    background-color: #00bcd4;
    cursor: pointer;
    color: #500643;
}
input.btn:hover {
    background-color: white;
    color: black;
    border: 3px solid black;
}
h3 {
    text-align: center;
    text-decoration: underline;
    font-size: 3.9em;
    margin-top: 12px;
    font-family: 'Crimson Text' !important;
    color: #fd6c04;
    background-color: rgb(26 1 19 / 96%);
}
h4 {
    text-decoration: underline;
    font-size: 3.9em;
    margin-top: 12px;
    display: flex;
    justify-content: center;
    font-family: 'Crimson Text' !important;
    color: #fd6c04;
    background-color: rgb(26 1 19 / 96%);
}
.locate {
    width: 50w;
    height: 65vh;
display: flex;
align-items: center;
margin: auto;
margin-top: 12px;
margin-bottom: 22px;
}

footer {
    background-color: #00bcd4cc;
    height: 64px;
    border-top: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 21px;
    font-family: 'Mukta' !important;
}

